.follower
{
  position: absolute;
  font-size: x-large;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.background
{
  width: 100px;
  height: 100px;
  background-color: red;
  filter: blur(30px);
  position: absolute;
  z-index: -1;
}
